<!doctype html>
<html>
<head>
<!-- http://fortawesome.github.io/Font-Awesome/get-started/ -->
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<title>Navbar with dropdowns</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
</head>
<body>
            <nav class="navbar">
              <div class="navbar-inner">
                  <ul class="nav">
                    <li class="active">
                      <a href="#"><i class="icon-home icon-large"></i> Home </a>                 
                    </li>
                  </ul>
                  <ul class="nav">
                
                    <li class="active">
                            <a href="#"><i class="icon-home icon-large"></i> registor_new product </a>                 
                          </li>
                        </ul>
                        <ul class="nav">
                          <li class="active">
                                <a href="#"><i class="icon-home icon-large"></i> about us</a>                 
                              </li>
                    
                  </ul>
              </div>
                  
            </nav>
<br>
<div class="container py-5">  
        <h4>Card Columns</h4>  
        <div class="card-columns">  
            <div class="card bg-primary">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card One</h5>  
                    <p class="card-text">Some text inside the first card</p>  
                </div>  
            </div>  
            <div class="card bg-secondary">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Two</h5>  
                    <p class="card-text">Some text inside the Second card</p>  
                </div>  
            </div>  
            <div class="card bg-danger">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Three</h5>  
                    <p class="card-text">Some text inside the third card</p>  
                </div>  
            </div>  
            <div class="card bg-success">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Fourth</h5>  
                    <p class="card-text">Some text inside the Fourth card</p>  
                </div>  
            </div>  
            <div class="card bg-primary">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Fifth</h5>  
                    <p class="card-text">Some text inside the fifth card</p>  
                </div>  
            </div>  
            <div class="card bg-warning">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Sixth</h5>  
                    <p class="card-text">Some text inside the sixth card</p>  
                </div>  
            </div>  
            <div class="card bg-info">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card Seventh</h5>  
                    <p class="card-text">Some text inside the Seventh card</p>  
                </div>  
            </div>  
            <div class="card bg-dark">  
                <div class="card-body text-center text-white">  
                    <h5 class="text-center">Card eighth</h5>  
                    <p class="card-text">Some text inside the eighth card</p>  
                </div>  
            </div>  
        </div>  
    </div> 
			
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>
</html>
